@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Thin.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Thin.woff') format('woff'),
  url('../fonts/GraphikLCG-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Extralight.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Extralight.woff') format('woff'),
  url('../fonts/GraphikLCG-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Bold.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Bold.woff') format('woff'),
  url('../fonts/GraphikLCG-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Light.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Light.woff') format('woff'),
  url('../fonts/GraphikLCG-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Semibold.woff') format('woff'),
  url('../fonts/GraphikLCG-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Super.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Super.woff') format('woff'),
  url('../fonts/GraphikLCG-Super.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Medium.woff') format('woff'),
  url('../fonts/GraphikLCG-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Black.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Black.woff') format('woff'),
  url('../fonts/GraphikLCG-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Regular.woff') format('woff'),
  url('../fonts/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/HalvarBreit-XTh.woff2') format('woff2'),
  url('../fonts/HalvarBreit-XTh.woff') format('woff'),
  url('../fonts/HalvarBreit-XTh.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/HalvarBreit-Th.woff2') format('woff2'),
  url('../fonts/HalvarBreit-Th.woff') format('woff'),
  url('../fonts/HalvarBreit-Th.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/HalvarBreit-Hl.woff2') format('woff2'),
  url('../fonts/HalvarBreit-Hl.woff') format('woff'),
  url('../fonts/HalvarBreit-Hl.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/HalvarBreit-Md.woff2') format('woff2'),
  url('../fonts/HalvarBreit-Md.woff') format('woff'),
  url('../fonts/HalvarBreit-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/HalvarBreit-Blk.woff2') format('woff2'),
  url('../fonts/HalvarBreit-Blk.woff') format('woff'),
  url('../fonts/HalvarBreit-Blk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/HalvarBreit-XBd.woff2') format('woff2'),
  url('../fonts/HalvarBreit-XBd.woff') format('woff'),
  url('../fonts/HalvarBreit-XBd.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/HalvarBreit-Rg.woff2') format('woff2'),
  url('../fonts/HalvarBreit-Rg.woff') format('woff'),
  url('../fonts/HalvarBreit-Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/HalvarBreit-Bd.woff2') format('woff2'),
  url('../fonts/HalvarBreit-Bd.woff') format('woff'),
  url('../fonts/HalvarBreit-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/HalvarBreit-Lt.woff2') format('woff2'),
  url('../fonts/HalvarBreit-Lt.woff') format('woff'),
  url('../fonts/HalvarBreit-Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

