.footer {
  display: flex;
  flex-direction: column;
  @include container-padding();
  padding-top: 24px;
  padding-bottom: calc(25px + var(--safe-area-inset-bottom));


  color: rgba(#111, 0.5);
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 140%;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: center;
    height: 77px;
    @include container-padding(md);
    padding-top: 0;
    padding-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    height: 93px;
    padding: 0 70px;
    font-size: 16px;
  }

  &__logo {
    margin-bottom: 27px;
    @include media-breakpoint-up(md) {
      margin-right: 17px;
      margin-bottom: 0;
    }
  }

  &__copyright {
    margin-bottom: 20px;

    > small {
      font-size: inherit;
    }

    @include media-breakpoint-up(md) {
      margin-right: 29px;
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &__dev {
    margin-bottom: 0;
    > a {
      color: #111;
    }

    @include media-breakpoint-up(md) {
      margin-left: auto;
    }
  }
}
