:root {
  /* -------------------------------------------------------------------
      Assign the default/constant/env values to CSS variables
  */
  --safe-area-inset-top: 0px;
  --safe-area-inset-right: 0px;
  --safe-area-inset-bottom: 0px;
  --safe-area-inset-left: 0px;

  @supports (top: constant(safe-area-inset-top)) {
    --safe-area-inset-top: constant(safe-area-inset-top);
    --safe-area-inset-right: constant(safe-area-inset-right);
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    --safe-area-inset-left: constant(safe-area-inset-left);
  }

  @supports (top: env(safe-area-inset-top)) {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
  }
}


body, input, textarea, select, button {
  text-align: left;
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-halvar;
  font-weight: bold;
}

h1 {
  font-size: 44px;
  letter-spacing: -0.03em;
  line-height: 90%;
  @include media-breakpoint-up(md) {
    font-size: 70px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 80px;
  }
}

h2 {
  font-size: 25px;
  letter-spacing: -0.02em;
  line-height: 26px;
  @include media-breakpoint-up(md) {
    font-size: 30px;
    line-height: 31px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 48px;
    line-height: 50px;
  }
  @include media-breakpoint-up(xl) {
    //margin-bottom: 42px;
    font-size: 58px;
    line-height: 61px;
  }
}

h3 {
  letter-spacing: -0.02em;
}

.blue {
  color: $blue;
}

.gray {
  color: rgba(17, 17, 17, 0.4)
}

.selected {
  color: $main-color;
}


.btn {
  @include media-breakpoint-down(md) {
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    font-size: $btn-font-size-sm;
    line-height: $btn-line-height-sm;
  }
}

.btn-blue {
  background-color: $blue;
  color: #fff;
  @include hover {
    background-color: $blue-hover;
    color: #fff;
  }

  &:focus,
  &.focus {
    box-shadow: none;
  }
}

.btn-green {
  background-color: $green;
  color: #fff;

  @include hover {
    background-color: $green;
    color: #fff;
  }

  &:focus,
  &.focus {
    box-shadow: none;
  }
}

.btn-block {
  padding-right: 0;
  padding-left: 0;
}

html.noscroll {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.modal {
  display: none;
  overflow: visible;

  .fancybox-close-small {
    @extend %main-background-color;
    transform: translate(13px, -23px);
    border-radius: 50%;
    opacity: 1;
  }
}

.navbar-brand {
  display: inline-block;
  color: $gold;
}


.input-text {
  display: block;
  width: 100%;
  padding: $input-padding-y-sm $input-padding-x-sm;
  transition: $transition-base;
  border: 0;
  border-radius: 0;
  //box-shadow: none;
  outline: 0;
  background: none;
  box-shadow: inset 0 -2px 0 0 currentColor;
  font-size: $input-font-size-sm;
  font-weight: $input-font-weight;
  //border-bottom: 2px solid currentColor;

  line-height: $input-line-height-sm;
  appearance: none;

  &:hover {
    box-shadow: inset 0 -2px 0 0 $main-color;
  }

  &:focus {
    box-shadow: inset 0 -3px 0 0 $main-color;
  }

  &:invalid {
    box-shadow: inset 0 -3px 0 0 $red;

    ~ .invalid-tooltip,
    ~ .invalid-feedback {
      display: block;
    }
  }

  &:disabled {
    opacity: 0.3;
    box-shadow: inset 0 -2px 0 0 currentColor;
    cursor: not-allowed;
  }

  &::placeholder {
    opacity: 0.4;
    color: inherit;
  }

  @include media-breakpoint-up(lg) {
    padding: $input-padding-y $input-padding-x;
    font-size: $input-font-size;
    line-height: $input-line-height;
  }
}

.invalid-tooltip {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  color: $red;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1;
  text-align: right;
}

.input-field {
  //display: inline-flex;
  position: relative;
  //height: $input-height;
  height: 50px;
  //background-color: #fff;
  overflow: hidden;
  color: #1a1a1a;

  font-size: 17px;
  line-height: 26px;

  &_focused {

  }

  &__label {
    position: absolute;
    top: $input-padding-y-sm;
    left: $input-padding-x-sm + $input-border-width;
    margin-bottom: 0;
    overflow: hidden;
    //transform: translateY(-50%);
    transform-origin: left top;
    transition: transform .15s ease, opacity .15s;
    opacity: .4;
    font-size: $input-font-size-sm;
    font-weight: $input-font-weight;
    line-height: $input-line-height-sm;
    text-overflow: ellipsis;
    text-transform: inherit;
    white-space: nowrap;
    cursor: text;
    pointer-events: none;
    will-change: transform;

    &_active {
      transform: translateY(-65%) scale(0.7);
      //opacity: 1;
    }

    @include media-breakpoint-up(lg) {
      top: $input-padding-y;
      left: $input-padding-x + $input-border-width;
      font-size: $input-font-size;
      line-height: $input-line-height;
    }
  }

  &__input {
  }
}


.form-group {
  width: 100%;
  max-width: 353px;
  margin-right: auto;
  margin-left: auto;

  &__row {
    margin-bottom: 14px;
  }

  &__button {
    margin-top: 32px;

    + .form-group__note {
      margin-top: 38px;
      @include media-breakpoint-up(md) {
        margin-top: 44px;
      }
    }
  }

  &__note {
    margin-top: 42px;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 140%;

    + .form-group__button {
      margin-top: 44px;
    }
  }
}


.icon {
  display: inline-block;
}

.icon-open-link {
  margin-bottom: 2px;
  //background: url("../img/icon-open-link.svg");
}

.icon-done {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: sub;
}


.feedback-form {
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 140%;

  &__description {
    margin-bottom: 50px;
    color: rgba(#111, 0.5);
  }

  &__file {
    margin-top: 58px;
  }

  &__field {
    position: relative;
    margin-bottom: 42px;
  }

  &__button {
    margin-top: 45px;
  }

  &__note {
    display: block;
    margin-bottom: 0;
    color: rgba(#111, 0.5);
    font-size: inherit;

    @include media-breakpoint-up(xl) {
      margin-top: 44px;
    }
  }
}


.custom-file {
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:disabled {
      ~ .custom-file__label {
        opacity: 0.3;
      }
    }
  }

  &__label {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: 20px 20px;
    border: 2px dashed currentColor;
    border-radius: $border-radius;
    letter-spacing: -0.01em;
    line-height: 1;
    cursor: pointer;

    &:hover {
      color: $main-color;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 18px;
    transform: translate(-50%, -50%);
  }

  &__title {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 500;
  }

  &__subtitle {
    opacity: 0.5;
    font-size: 14px;
  }
}


.modal-page {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //transition: all .3s ease;
  //opacity: 0;
  animation: fadeOut 1s ease;
  background: #fff;
  animation-fill-mode: both;

  &.active {
    animation: fadeIn 1s ease;
  }

  &__inner {
    @include make-container();
    @include make-container-max-widths();
    height: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInUp {
  animation-name: fadeInUp;
}


.loader {
  &.load {
    z-index: 1;
    .loader__logo {
      opacity: 0.05;
      transform: translateY(-100%);
    }
  }
  &__logo {
    transition: transform 1.2s cubic-bezier(0.39, 0.58, 0.57, 1), opacity .6s;
  }
}
