$nav-main-height: 80px;
$nav-main-height-sm: 50px;

.header {
  position: sticky;
  z-index: $zindex-fixed;
  top: 0;
  right: 0;
  left: 0;

  &_dark {
    .navbar-mobile {
      color: #111;
    }
  }

  &_has-bg {
    .navbar-mobile {
      height: 49px;
      background: #fff;
      box-shadow: 0px 1px 34px rgba(0, 0, 0, 0.05);
      color: #111;
    }
  }

  &_active {
    .navbar-mobile {
      height: 49px;
      background: #fff;
      box-shadow: 0px 1px 34px rgba(0, 0, 0, 0.05);
      color: #111;
    }

    .navbar {
      visibility: visible;
    }

    .navbar__overlay {
      opacity: 0.5;
    }

    .navbar__inner {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-up(lg) {
    //z-index: 1000;
    //transform: translateY(-30px);
    //opacity: 0;

    transform: translateY(-30px);
    opacity: 0;
    height: 135px;
    margin-bottom: -135px;

    &.animate {
      //transition: transform 1s ease-out, opacity 1s ease;
      transition: all 1s ease;
      transform: none;
      opacity: 1;
    }

    &_dark {
      .navbar {
        color: #111;
      }
    }

    &_has-bg {
      //margin-bottom: -80px;

      .navbar {
        height: 80px;
        background: #fff;
        box-shadow: 0px 1px 34px rgba(0, 0, 0, 0.05);
        color: #111;
      }

      .header-contacts__description {
        display: none;
      }
    }
  }
}

.navbar {
  visibility: hidden;
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;

  transition-property: visibility;
  transition-duration: .3s;
  color: #111;

  //a,
  //a:hover {
  //  color: inherit;
  //}


  &_active {
    visibility: visible;

    .navbar__overlay {
      opacity: 0.5;
    }

    .navbar__inner {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-up(lg) {
    visibility: visible;
    //height: auto;
    position: relative;
    height: 135px;
    padding-top: 0;
    transition: all .3s ease-out;
    //transition: all 1s ease-out;
    //z-index: 0;
    color: #fff;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s;
    opacity: 0;
    background-color: #000;
    cursor: pointer;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__inner {
    display: flex;
    //position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    //padding-top: $nav-main-height-sm;
    padding-top: $nav-main-height-sm + 35px;
    padding-right: $container-padding-x;
    padding-bottom: calc(#{$container-padding-x} + var(--safe-area-inset-bottom));
    padding-left: calc(#{$container-padding-x} + var(--safe-area-inset-left));
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    background-color: #fff;

    > .navbar-brand {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      //@include make-container();
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 0 70px;
      overflow: visible;
      transform: none;
      background: none;
      > .navbar-brand {
        display: inline-block;
      }
    }
  }

  //&__header {
  //  display: flex;
  //  position: fixed;
  //  top: 0;
  //  right: 0;
  //  left: 0;
  //  flex: 0 0 $nav-main-height-sm;
  //  align-items: center;
  //  width: 100%;
  //  height: $nav-main-height-sm;
  //  margin-right: $grid-gutter-width / -2;
  //  margin-left: $grid-gutter-width / -2;
  //  background: #fdfdfd;
  //  //margin-bottom: 35px;
  //  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.04);
  //  @extend %main-text-color;
  //  @include media-breakpoint-up(xl) {
  //    height: auto;
  //    margin: 0;
  //
  //    .menu-button {
  //      display: none;
  //    }
  //  }
  //}

  //&__logo {
  //  display: none;
  //
  //  @include media-breakpoint-up(lg) {
  //    display: inline-block;
  //  }
  //
  //}

  &__list {
    margin-bottom: 50px;
    //padding-left: 0;
    padding: 0;
    list-style: none;
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      //justify-content: space-between;
      //width: 670px;
      //padding-top: 0;
      //overflow: hidden;
      margin-bottom: 0;
      white-space: nowrap;
    }
  }

  &__item {
    margin-bottom: 30px;

    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-right: 33px;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(xl) {
      margin-right: 55px;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 120%;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .3s ease;
      background: $gold;
    }

    &:hover {
      //border-bottom: 2px solid $gold;
      text-decoration: none;

      &::before {
        transform: scaleX(1);
      }
    }

    @include media-breakpoint-up(lg) {
      font-size: 15px;
      font-weight: 500;
    }

    @include media-breakpoint-up(xl) {
      padding: 7px 0;
      font-size: 18px;
      line-height: 1;
    }
  }

  &__contacts {
    margin-top: auto;
    @include media-breakpoint-up(xl) {
      display: flex;
      align-items: center;
      margin-top: 0;
    }
  }

  &__phone {
    display: inline-block;
    margin-bottom: 17px;
    color: inherit;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 24px;
    @include media-breakpoint-up(xl) {
      margin-right: 33px;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 150%;
    }
  }
}

.header-contacts {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  @include media-breakpoint-up(lg) {
    display: flex;
    font-size: 15px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }

  &__button {
    margin-bottom: 40px;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__link {
    margin-right: 33px;
    margin-bottom: 3px;

    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &__description {
    margin-top: 18px;
    opacity: 0.5;
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50px;
      left: 0;
    }
  }
}

.navbar-mobile {
  position: fixed;
  z-index: $zindex-fixed + 10;
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  transition: all .5s ease;
  color: #fff;

  //color: #111;
  //background: #fdfdfd;
  //box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.04);

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    //height: $nav-main-height-sm;
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(20px + var(--safe-area-inset-right));
    padding-left: calc(20px + var(--safe-area-inset-left));

    //@include make-container();
    //@include make-container-max-widths();

    @include media-breakpoint-up(md) {
      max-width: map_get($container-max-widths, md);
      //height: $nav-main-height;
    }
  }

  &__button {
    width: $nav-main-height-sm;
    height: $nav-main-height-sm;
    margin-right: -11px;

    //border: 1px solid #fff;
    //color: #111111;
    @include media-breakpoint-up(md) {
      margin-right: 10px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: $grid-gutter-width / 2;
    @include media-breakpoint-down(xs) {
      //.btn-sm {
      //  padding: 7px 17px;
      //  font-size: 14px;
      //  line-height: 21px;
      //}
    }
  }

  &__phone {
    display: none;
    @include media-breakpoint-up(md) {
      display: inline-block;
      margin-right: 25px;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.02em;
      line-height: 27px;
    }
  }
}


.menu-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  width: $nav-main-height-sm;
  height: $nav-main-height-sm;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;

  &:focus {
    outline: none;
  }

  > span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 1px;
    margin-top: -1px;
    margin-left: -9px;
    transition: transform .7s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    background: currentColor;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform .7s cubic-bezier(0.04, 0.04, 0.12, 0.96);
      background: currentColor;
    }

    &::before {
      transform: translate(0, -6px);
    }

    &::after {
      transform: translate(0, 6px);
    }
  }

  &.active {

    > span {
      transform: rotate(180deg);
      background: none;

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }
}


.alert-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  left: 0px;
  top: 0px;
  right: 0;
  text-align: center;

  background: #005EEC;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}
